flask
requests
flask_caching
flask_socketio
python-telegram-bot
pyfunctional
eventlet
numpy
Pillow
retry
opencv-python-headless
opencv-contrib-python-headless
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability