[Unit]
Description=Starts the X Server and Chromium

[Service]
ExecStart=/usr/bin/xinit /home/pi/rpi-photo-frame/scripts/xprograms.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piservice
User=root
Group=root
WorkingDirectory=/home/pi

[Install]
WantedBy=basic.target