[Unit]
Description=Starts photo backend server

[Service]
ExecStart=/usr/bin/python3 /home/pi/rpi-photo-frame/server/manage.py runserver
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piservice
User=root
Group=root
WorkingDirectory=/home/pi

[Install]
WantedBy=basic.target