[Unit]
Description=Starts photo backend server

[Service]
ExecStart=export PHOTO_FRAME_ENV=prod && /usr/bin/python3.5 /home/pi/rpi-photo-frame/server/manage.py runserver
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piservice
User=root
Group=root
WorkingDirectory=/home/pi

[Install]
WantedBy=basic.target