[Unit]
Description=Splash screen
DefaultDependencies=yes

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 -t 30 --noverbose -a /home/pi/rpi-photo-frame/doc/splash.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target shutdown.target