@reboot /bin/sh /home/pi/rpi-photo-frame/src/scripts/bootstrap.sh >> /var/log/rpi-photo-frame.log 2>&1
* * * * * /bin/sh /home/pi/rpi-photo-frame/src/scripts/update.sh >> /var/log/rpi-photo-frame.log 2>&1