[Unit]
Description=Starts Datenwissenschaften Splash Screen
DefaultDependencies=true

[Service]
Type=simple
ExecStart=/bin/sh /home/pi/rpi-photo-frame/src/scripts/bootstrap.sh
WorkingDirectory=/home/pi/

[Install]
WantedBy=multi-user.target